<div class="row">
  <div class="col-12 col-md-5 m-auto">
    <h1>暗記カード投稿</h1>
    <%= render 'form', post: @post %>
    <%= link_to '投稿一覧に戻る', posts_path, class:"btn btn-lg btn-secondary btn-block" %>
  </div>
</div>